Options -Indexes

RewriteEngine on

RewriteCond %{HTTP_HOST} ^www.vsetkypozicky.sk$
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^www.ceskepujcky.cz$
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

#if the request is not to the backend, route it to /frontend/web
RewriteCond %{REQUEST_URI} !^/backend
RewriteCond %{REQUEST_URI} !^/frontend
RewriteRule ^(.*)$ frontend/web/$1 [L,QSA]

#otherwise route the request to the backend
#RewriteRule ^backend/(.*)$ backend/web/$1 [L]