RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+) - [PT,L]

RewriteCond %{HTTP_HOST} ^pujcka123\.cz$ [NC]
RewriteRule ^(.*)$ http://www.pujcka123.cz/$1 [R=301,L]

RewriteRule ^(.+)$ /$1.php [L,QSA]
RewriteRule ^(.+)/$ /$1.php [L,QSA]