Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on

#RewriteCond %{REQUEST_URI}  !\.(php|html?|jpg|gif)$]
#RewriteCond %{REQUEST_URI} !thanks
#RewriteRule ^(.*)([^/])$ http://%{HTTP_HOST}/$1$2/ [L,R=301]

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !^/thanks(/|$)
RewriteRule (.*)/?$ index.php?url=$1 [QSA]


#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteRule . index.php
# otherwise forward it to index.php
#RewriteRule . index.php

