/*celkovy styl pre formular home credit CZ classic */
@import '../form.scss';

#frm-partnerForm-form fieldset input, #frm-partnerForm-form fieldset select{
  border-radius:0;
  border:1px solid #bcbcbc;
}

#frm-partnerForm-form fieldset legend{
  color:#c40000
}