
/* ---------------------------Common settings--------------------------- */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* -----------------------------Bootstrap Structure settings--------------------------- */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

/* -----------------------------Structure settings--------------------------- */

body {
	background:#e4edf1;
}
.main-container {
  background:#fff;
  box-shadow:0px 0px 15px rgba(0,0,0,0.3);
}
.container {
  padding-left: 90px;
  padding-right: 90px;
}
.main-container.container {
	padding: 0px;
}

footer #menu-section {
  background: #3c4547;
  color: #fff;
}
footer .container {
    padding-right: 10px;
    padding-left: 10px;
}
footer h4 a {
  color: #fff !important;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #fff;
}

section {
  border-top: 1px solid #e1e1e1;
}

header {
  margin-bottom: 0px;
}

.row > * .box {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 20px;

}
#logo-section .row > * .box {
  padding: 0 28px;
	margin: 0 -90px;
}
#logo-section {
    padding-bottom: 0px;
}
header a.logo {
	margin: 0;
  line-height: 50px;
}
header a.logo span {
	font-family: "Open Sans",sans-serif;
	font-size: 18px;
	line-height: 26px;
}
.top-info {
  margin-top: 0px;
  line-height: 50px;
}
#sidebar .row > * .box , #content .row > * .box, #page-header .row > * .box, #page-footer .row > * .box {
/*  padding: 20px 10px 35px;*/
  padding: 0px;
  margin-bottom: 0px;
}
#content .row > * .box {
  /*  padding-top: 60px;*/
}
.wrapper.header-wrapper {
    background: #0078b4 !important;
}
/* --------------------------- Typography ----------------------------------- */
h1, .h1, h2, .h2, h3, .h3, p, .p {
/*    margin: 0;*/
}
/* ---------------------------Button ----------------------------------- */

.btn {
  font-family: 'Open Sans Condensed', sans-serif !important;
  /* text-transform: uppercase; */
  border-radius: 3px;
  color:#fff;
  border:none;
  background:#78909c;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 0 2.5em 0 1.5em;
  line-height: 250%;
  position: relative;
  text-shadow: none;
  &.btn-xl {
    padding: 0 2.5em 0 1.5em;
    line-height: 250%;
  }
}
.btn:after {
  font-family: FontAwesome;
  content: '\f105';
  right: 0.45em;
  position: absolute;
  font-size: 200%;
}
.btn:hover, .btn:focus {
    color:#fff;
    background:#607d8b;
    text-decoration: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.35);
}
.main-btn {
    border-radius: 3px;
    color:#fff;
    border:none;
    background:#0aba0a;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    line-height: 250%;
}
.main-btn:hover,
.main-btn:focus {
    color:#fff;
    background:#0a9d0a;
    text-decoration: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.35);
}
.comparator-item-inner .btn {
    display: inline-block;
  	min-width: 135px;
}
.comparator-item-inner .btn.main-btn {
    margin-bottom: 10px;
}
.bez-spoluprace .info-btn {
 margin-top: 25px !important;
}
/* ---------------------------Submenu settings-------------------------- */

.sub-menu {
/*  margin: -10px -10px -15px -10px;*/
  
  li {
    a {
      &:hover {
        background-color: #eee;
      }
    }
  }
}

/* ---------------------------Header settings--------------------------- */
.poster {
    margin: 0 0px 0 0px;
    padding: 0px 0px 20px 0px;
  	min-height: auto;
}

/* ---------------------------Main settings----------------------------- */

/* ---------------------------Sidebar settings-------------------------- */
#sidebar .row h3:first-child {
    margin: 0;
    padding: 0px;
}
/* ---------------------------Footer settings--------------------------- */
#technicky-prevadzkovatel {
    font-size: 10px;
    padding-bottom: 20px;
  	text-align: justify;
}
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------Smartsnippety - zaciatok------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */

/* ---------------------------Header box ------------------------------- */

/* ---------------------------Vyhody box ------------------------------- */

/* ---------------------------FAQ box ---------------------------------- */

/* ---------------------------Ziadost progress ------------------------- */

/* ---------------------------CTA box ---------------------------------- */

/* ---------------------------Horne menu ------------------------------- */
header #menu-section .row > * .box {
  background: #085d87;
  margin: 0 -90px;
}
#main-nav ul{
	height: auto;
}
#main-nav ul li{
	margin-bottom: 0;
}
#main-nav ul li a {
  color: #fff;
  text-decoration: none;
  border-radius: 0px;
    height: 45px;
    line-height: 42px;
    padding: 0 12px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
#main-nav ul li a:hover {
  border-bottom: 3px solid #fff
}
/* ---------------------------Kroky ------------------------------------ */

/* ---------------------------Dolne menu ------------------------------- */

/* ---------------------------Akcia box -------------------------------- */

/* ---------------------------Navigacia -------------------------------- */

/* ---------------------------Klient box-------------------------------- */

/* ---------------------------Tip -------------------------------------- */

.tip {
  background: #f3f4f5;
  border-radius: 5px;
  margin: 0 !important;
}

/* ---------------------------Slovnik ---------------------------------- */
/* --------------------------- slider ---------------------------------- */
.partners {
    padding-right: 30px;
    padding-left: 30px;
}
.partners.partners-slider {
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 30px;
}
/* ---------------------------Porovnavac obsah-------------------------- */
.comparator {
  .row {
    margin: 0px 0;
    text-align: center;
  }
  .comparator-item {
      border: 1px solid #ccc;
    	border-bottom: none;
    	position: relative;
  }    
  .comparator-item:last-child {
      border-bottom: 1px solid #ccc;
  }    
  .sellpoint-bubble {
      background: #0aba0a;
      left: -123px;
      max-height: 80px;
      max-width: 120px;
      padding: 15px;
      position: absolute;
      top: 0;
    	color: #fff;
    	font-weight: bold;
    	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    	border-radius: 3px;
  }
  .sellpoint-bubble::after {
      border-bottom: 11px solid transparent;
      border-left: 10px solid #0aba0a;
      border-top: 10px solid transparent;
      bottom: 50%;
      content: "";
      left: 100%;
      margin-bottom: -10px;
      position: absolute;
  }
  .row.comparator-item {
      padding: 10px;
  }
}
.porovnavac-sumo-filter {
    background: #fff;
    padding: 30px;
		box-shadow: 1px 1px 5px rgba(0,0,0,0.3);  
  	margin-top: -75px;
}
/* ---------------------------Copyright panel--------------------------- */
#copyright-section {
  padding: 0;
  color: #eee;
  background: #1f2425;
}
#copyright-section .box {
}

#copyright-panel {
  padding-top: 20px;
}

#copyright-panel p {
  text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------Smartsnippety - koniec-------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */