<?php
include("C:\wamp64\www\cms/frontend/web/data/common/cz_dictionary.php");
include("C:\wamp64\www\cms/frontend/web/data/common/products/cz/products.php");
?>
<?php
include("C:\wamp64\www\cms/frontend/web/data/hyperfinance.cz/main_file.php");
?>
<?php 
include("C:\wamp64\www\cms/frontend/web/data/hyperfinance.cz/posts/post6/post_var.php");
?>
