$phone-min-width: 479px;
$tablet-min-width: 767px;
$desktop-min-width: 991px;

@mixin mobil {
  @media (max-width: #{$phone-min-width}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet-min-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-min-width}) and (max-width: #{$desktop-min-width - 1px}) {
    @content;
  }
}

@mixin mobile-devices {
  @media (max-width: #{$desktop-min-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

/* ---------------------------Common settings--------------------------- */

.bg-top-right { background-position: top right; }
.bg-bottom-right { background-position: bottom right; }
.bg-bottom-left { background-position: bottom left; }
.bg-top-left { background-position: top left; }
.bg-top-center { background-position: top center; }
.bg-bottom-center { background-position: bottom center; }
.bg-center-center { background-position: center center; }
.bg-center-left { background-position: left center; }
.bg-center-right { background-position: right center; }

h1,h2,h3,h4, #headline {
  letter-spacing:-0.5px;
}

h1,h2,h3,h4, .btn, #menu-top ul li a, #headline {
  font-family: 'Open Sans', sans-serif;
  font-weight:bold;
  /*margin-top:0;*/
}

hr {
  margin-top: 10px;
}

strong {
  font-weight: bold;
}

em {
  font-style:italic;
}

.strong {
 font-weight: bold;
}

.italic {
 font-style: italic;
}

img {
  max-width: 100%;
  
  &.f-left {
    float: left;
    margin: 3px 15px 0px 0;
  }
  
  &.inline-image {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 3px;
  }
}

.img-container img {
  max-width:100%;
}

a {
  color:#000;
  line-height: 20px;
}

ul {
  &.list-default {
    padding-left:0;

    li {
      line-height: 26px;
      list-style: none;
		  padding-left:18px;				  
		  

      &:before {
        font-family: FontAwesome;
        content: '\f105';
        float:left;
        margin-left:-18px;
      }
    }
  }
}

.icon {
  float:left;
  margin-right:10px;
  border-radius:100%;
  text-align:center;
  background: #000;
  
  i {
    color:#fff;
  }
  
  &.icon-small {
    width: 40px;
    height: 40px;
    line-height: 40px;  

    i {
      line-height: 40px;
      font-size: 18px;
    }
  }

  &.icon-middle {
    width:50px;
    height:50px;
    line-height:50px;

    i {
      line-height:50px;
      font-size:30px;
    }
  }
}

.grey-text {
  h1,h2,h3,h4 {
  color:#666;
  }
  p {
    color:#777;
  }
}

.nopadding {
  padding: 0 !important;
}




/* ---------------------------Structure settings------------------------ */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 0px;
  padding-left: 0px;
}

#content .row > * .box,
#sidebar .row > * .box,
#page-header .row > * .box,
#page-footer .row > * .box {
  margin-bottom:15px;
  padding:0 20px 20px 20px;
	//border: 1px solid;
}

.wrapper {
}

.padded {
  padding-right: 15px;
}

.row {
  margin-right: 0px;
  margin-left:  0px;

	& > * .box {
    margin-left: 8px;
    margin-right: 8px;
  }
}
.container {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}

/* ---------------------------Button ----------------------------------- */
.btn {  
  font-size:14px;
  text-decoration: none;
  line-height:36px;
  padding:0 20px;
  //padding: 0 2.5em 0 1.5em;
	
  &.btn-xl {
  	font-size: 22px;
  	line-height: normal;
  	padding: 14px 50px 14px 25px;
  	position: relative;
	}
  
  &.filter-btn {
    border: 1px solid #ccc;
	}
  &.btn-lg {
    font-size:18px;
    //padding:0 25px;
    line-height:46px;
  }

  &.btn-medium {

  }

  &.main-btn {
  }

  &.info-btn {

  }
}

@media (max-width: 991px) {
  .poster-content-cta .btn {
    display:inline-block;
  }
}

@media (max-width:479px) {
  .poster-content-cta .btn-xl {
    display:block;
  }
}

@media(max-width:479px) {
  .btn {
    display:block;
    //padding:0;
  }
  
  .table-container a.btn, .klient-classic a.btn {
    float:none !important;
  }
}
/* ---------------------------Header settings--------------------------- */

header {
  margin-bottom: 20px
}


/*********************************** TOP BAR ***********************************/

.top-bar{
    padding: 6px 0;
    background:#ea4402;
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
}

.top-bar.shown{
    top: 0;
}

.top-bar p{
    margin:0;
  padding-left:10px;
  padding-right:10px;
    color: #fff;
  text-align:center;
}

.top-bar p > i{
    color: gold;
}

.top-bar p > img{
    margin-right: 4px;
}

.top-bar a{
    color: #fff;
    text-decoration: underline
}

.top-bar a.btn{
    text-decoration: none;
    line-height:30px;
    margin-left: 10px;
    margin-right: 10px;
  
  @include mobil{
    margin:4px 0;
  }
}

/*********************************** /TOP BAR ***********************************/

/* ---------------------------Main settings----------------------------- */

main {
  h1 { 
    font-size: 26px; 
  	
    &.main-title { margin:0 0 20px 0; }
  }
  
  h2 { font-size: 22px; }

  h3 { font-size:18px; }

  h4 { margin-top:20px; }
  
  p {
    font-size:14px;
    line-height:22px;
    text-align: justify;
  }
}
/* ---------------------------Sidebar settings-------------------------- */

#sidebar {
  .row > * .box { /*padding:0 15px 15px 15px;*/ }

  .row { margin-left:0; }

  .row h3:first-child {
    margin:0px -20px 15px -20px;
    padding:15px;
    font-size: 16px;
  }
}
/* ---------------------------Footer settings--------------------------- */

footer .container {
  padding:0;
}

#content .no-boxed-row, #sidebar .no-boxed-row, #page-header .no-boxed-row, #page-footer .no-boxed-row {
  background: none;
  padding: 0;
  border:none;    
}

/*
.text-section {
  padding-top: 15px;
}

.text-section:first-child {
  padding-top:0;
}*/
    
#content .hgroup {
  margin-bottom:15px;
  
  h3 {
    font-size:16px;
  }
}

.table-container {
   
  a.btn {
    float: right;
  }
  
  p.table-info {
  	color:#666;
    font-size:12px;
    line-height: 15px;
	} 
}

.table-rows table tr {
  th, td {
    text-align: center;
    font-size:13px;
    vertical-align: middle;
  }
} 
  
#copyright-section {
  padding:20px 0
}

a.navbar-toggle {
  margin:15px 0 0 10px;
  padding:0; 

	i {
    border:1px solid #ccc;
    border-radius:4px;
    padding:8px;
    margin-left:5px;
  }
  
  &:hover {
    text-decoration:none;
  }
}

.navbar-collapse.in {
  overflow-y:visible;
}


/* ---------------------------Logo + tel.cislo-------------------------- */

#logo-section {
  padding-bottom:8px;
}

.top-info {
  float:right;
  margin-top:15px;
}

.top-telefon {
  font-size:26px;
  letter-spacing:-0.5px; 

	i {
    color:#78a74d;
  }
  
  strong {
    color:#00374b;
  }
}

header a.logo {
  margin: 11px 0 0 0;
  display:block;
  float:left; 
  
  &:hover {
    text-decoration: none;
  }
  
  span {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
  }
}

/* ---------------------------Header box ------------------------------- */

.poster + * {
  margin-top: 20px !important;
}

.poster {
  margin:0 -20px -20px -20px;
  padding:25px;
  background-size:cover;
  background-repeat:no-repeat;
  min-height:340px;
  /* background-position:top center;*/ 
  
  &.bez-spoluprace .geo {
    display: none;
  }
  
  &#big-header {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    padding-top: 0px;
    
    .poster-content {
      padding: 0;
    }
  
    h1 {
      font-size: 46px;
      font-weight: 700;
    }
    
    h3 {
      margin-top: -5px;
      font-size: 30px;
    }
    
    .poster-content {
      width: 70%;
    }
    
    ul {
      li {
        
        &:before {
          float: left;
          color: #fff;
        }
      }
    }
  }
  
  ul {
    padding-left:30px;
    list-style:none;
    padding-bottom:5px;
    
    li {
      font-size:16px;
      line-height:20px;
      padding-bottom:5px;
      
      &:before {
        font-family: 'Glyphicons Halflings';
        padding-right: 10px;
        margin-left: -30px;
        content: '\e013';
      }
    }
  }
}

.poster-boxed-content {
  padding:20px;
}

.poster-content {
  width:40%;

	#headline {
    font-size:24px;
    padding:0;
    margin-top: 0;
    color: #fff;
    margin-bottom: 10px;
  }
  
  p {
    padding-bottom:15px;
    margin-bottom:0;
    text-align: left;
    
    &.subheading{
      font-size:16px;
      line-height:24px;
      padding-bottom:20px;
    }
  }
  
  .geo {
    p {
      font-size:12px;
      opacity:0.87;
      padding-bottom:0
    }
    
    h4 {
      margin-bottom:2px;
      font-size:16px;
    }
  }
}

/*.main-poster .poster-content {
  background:#166681;
  color:#fff;
}*/

.profil-image {
  margin-top:40px;
  text-align:center;
}

.contact-info {
  padding-left: 30px;
  padding-top:15px;
  
  .adresa p{
    font-size:16px;
    font-weight:bold;
    
    @include mobile-devices{
      text-align:center;
    }
  }
	
  li {
    font-size: 14px;
    line-height: 25px;  
    padding-left:25px;
  }
  
  .fa {
    float:left;
    margin-left:-25px;
    margin-top:5px;
    opacity:.54;
  }
  
  h2 {
    margin-top: 0px;
  }
}
@media(max-width:991px) {
  .contact-info {
    padding-top:0;
    text-align:center;
    padding-left:0;
  }
  
  .contact-info ul {
    text-align:left;
    display:inline-block;
  }
  .poster {
    background-position-y:top !important
  }
}

.hyperpozicky-poster {
  .poster-img {
    width:50%;
    float:left;
  }
  
  .poster-content {
    width:50%;
    float:left;
  }
}

/* ---------------------------Vyhody box ------------------------------- */

ul.benefits {
  padding: 5px 0 0 0;
  list-style:none;

	li {
    h4 {
      font-size:16px;
      margin-bottom:5px;
    }
    
    h3{
      font-size:16px;
    }
    
    p {
      line-height:20px;
      margin-bottom:20px;
      text-align: left;
    }
    
    &:before {
      font-family: FontAwesome;
      content: '\f101';
      color: #000;
      line-height: normal;
      font-size: 45px;
      float: left;
      margin: -5px 15px 10px 0;
    }
  }
}
.benefit i {
  float: left;
  margin: 0 18px 10px 0;
  font-size: 50px;
}

.benefits-icons{
  
  ul.benefits{
    text-align:center;
    padding-top:15px;
    
    li.benefit{
      display:inline-block;
      width:29%;
      margin:0 1.5% 15px 1.5%;
      vertical-align:top;
      
      i{
        width:70px;
        line-height:70px;
        border-radius:50%;
        border:1px solid #cdcdcd;
        font-size:30px;
        margin:0 auto 10px auto; 
        float:none;
      }
      
      p{
        text-align:center;
      }
      
      &:before{
        display:none;
      }
    }
  }
  
  @include mobil{
    ul.benefits li.benefit{
     
      width:46%;
    
    }
  }
  
}

/******************* benefits s ikonkami v sidebare *********************/

#sidebar .benefits-icons ul.benefits {
  
  padding-top:0;
  margin-bottom:0;
  
    li{
    display:block;
    width:auto;
    margin:0 0 0px 0;
    padding-left:50px;

    p{
      text-align:left;
      margin-bottom:16px;
    }

    i{
      width:40px;
      line-height:normal;
      float:left;
      margin:5px 0 0 -50px;
      border:none;

      &:hover{
        background:none;
        border:none;
        color:$color-light;
    	}
  	}
	}
}


.benefits-img {
  ul.benefits {
    margin-top:20px;
    
    li {
      float:left;
      width:30.3%;
      margin:0 1.5%;
      text-align:center;
      
      &:before { display:none; }
      &:last-child { border:none; }
      
      p{
        text-align:center;
        margin-bottom:0;
      }
    }
    img {
      
      margin:0;
    }
    
    
    @include mobil{
      
      margin-top:10px;
      
    	li{
        float:none;
        width:auto;
        margin:0 0 25px 0;
        text-align:left;
        
        img{
          float:left;
          margin:0 20px 15px 0;
        }
        
        p{text-align:left;}
      }
  	}
    
  }
  
  &.main-lp-steps{
    ul.benefits{
      	margin-top:30px;
      	margin-bottom:14px;
      
      	li{
          position:relative;
          
          &:after{
            width:34px;
            height:34px;
            position:absolute;
            content:'';
            background:url('/multimedia/images/main-steps-arrow.png') 0 0 no-repeat;
            right:-25px;
            top:20px;
          }
          
          &:last-child:after{display:none;}
          
          @include mobil{
            
            margin-bottom:10px;
            
            &:after, &:last-child:after{
              position:static;
              width:0;
              height:0;
              background:none;
              display:table;
              clear:both;
            }
            
            img{margin-bottom:10px;}
          }
        }
    }
  }
  
}

.vyhody ul {
  list-style:none;
  padding:0;
  /*float:left;*/
  margin-top:14px;
 /* margin-right:5%;*/
  /*width:47.5%;*/
  
  li {
    font-size:14px;
    line-height:20px;
    padding-bottom:6px;
    padding-left:20px;
    /*display:inline-block;*/
    
    &:before {
      font-family:FontAwesome;
      content:'\f101';
      padding-right:10px;
      float:left;
      margin-left:-20px;
    }
  }
}

.vyhody-1 li {
  display: list-item !important;
}

.vyhody-2 {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;  
  -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
  -moz-column-gap: 20px; /* Firefox */
  column-gap: 20px;
}

.vyhody-3 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;  
  -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
  -moz-column-gap: 20px; /* Firefox */
  column-gap: 20px;
}

.vyhody-4 {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;  
  -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
  -moz-column-gap: 20px; /* Firefox */
  column-gap: 20px;
}

@media(max-width:479px) {
  .vyhody-2, .vyhody-3, .vyhody-4 {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;  
    -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 0px;
  }
}

.vyhody ul.vyhody2 {
  margin-right:0
}

/* ---------------------------Cta box ---------------------------------- */

.cta-box + *{
  padding-top: 15px;
  margin-top:5px;
  border-top: 1px solid #ddd;
}

.main-cta-box {
  padding-top: 20px;
  border: 1px solid $color-light;
  border-bottom: 3px solid $color-light;
	
  .cta-box {
    padding: 0;
    margin: 0;
  }
}
.cta-box {
  padding:15px 0 20px 0;
  margin-bottom: 10px;
  text-align:center;  
  
  h4 {
    font-size:14px;
    line-height: 22px;
    margin-top:0;
    padding-bottom: 10px; 
    
    span {
      font-size: 20px;
      display: block;
      margin-bottom:4px;
    }
  }
}


/* ---------------------------Exkluzivni cta farebny box (tarify napr.)------------------------ */
.exclusive-cta-box{
  margin:0 -20px -23px -20px;
  border-radius: 4px;
  border-bottom:3px solid rgba(0,0,0,0.3);
  background-position:0 15px;
  background-repeat:no-repeat;

	.exclusive-content{
    padding: 20px 30px 34px 230px;
    color:#fff;
    
    a.btn{
      margin-top:16px;
    }
    
    .cta{
        	position:relative;
      	display:inline-block;
      
      &:after{
        content:'';
        width:85px;
        height:64px;
        background:url('/multimedia/images/white-arrow.png') 0 0 no-repeat;
        position:absolute;
        right:-100px;
        top:-5px;
      }
    }
    
    h3{font-size:20px;}
  }
  
  @include phone{
    
    padding-bottom:60px;
    background-position: -20px 120%;
       background-size: 120px auto;
      
    .exclusive-content{
      padding-left:30px;
      text-align:center;
      
      p{
        text-align:center;
      }
    }
  }
  
  @include mobil{
    
    padding-bottom:0px;
    background-image:none !important;
    
    .exclusive-content{
      padding:10px 20px 30px 20px;
      
        .cta{
          display:block;

        &:after{
          display:none;
      	}
    	}
    }
  }
 
}


/* ---------------------------Kategorie main box------------------------ */

.sub-categories {
  padding:20px 0;

	&:after {
    display:table;
    content:'';
    clear:both;
  }
}

.sub-cat {
  text-align:center;
  border-right:1px solid #ddd;
  padding:0 35px;
  
  &:last-child {
    border:none;
  }
  
  img {
    margin-bottom:12px;
    transition:0.2s all;
    -webkit-transition:0.2s all;
    -moz-transition:0.2s all;
    width: initial;
  	
    &:hover {
      transform:scale(1.03);
      -webkit-transform:scale(1.03);
      -moz-transform:scale(1.03);
    }
  }
  
  h3 {
    font-size:16px;
  }
  
  p {
    margin-bottom:0;
    text-align: center;
  }
}
/* ---------------------------Kroky box--------------------------------- */

.kroky {
  
  ol {
    list-style: none;
    padding-left:25px;
    padding-bottom: 0;
    margin-bottom: 0;
    
    i {
      float: left;
      margin: 0 18px 10px 0;
      font-size: 50px;
    }
    
    li {
      padding-bottom:10px;
      counter-increment: item;

      &:before {
        content: counter(item);
        line-height:18px;
        font-family:'Open Sans', sans-serif;
        font-size:18px;
        margin:0 10px 0 -25px;
        display: block;
        float:left;
      }
      
      h4 {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
}

.kroky-number-with-dot ol li:before {
  content: counter(item) ".";
}

.kroky-desc {
  h3 {
    margin-bottom: 30px;
  }
  
  ol {
    padding-left: 0px;
  	
    h4 {
      margin-top: 0px;
      font-size: 20px;
    }
    
    li {
      &:before {
        margin:0 10px 0 2px; 
      }
    }
  }
}

.kroky-wide {
  padding-top: 20px;
  
  ol li {
    display: inline-block;
    width: 30%;
    margin-right: 3%;

    &:before {
      font-size: 18px;
    }
  }
}

@media (max-width: 767px) and (min-width: 481px) {
  .kroky-wide ol li {
    display: block;
    width: 80%;
    padding-right: 0;
  }
}

/* ---------------------------FAQ box ---------------------------------- */

.faq {
    
  h3 {}

  .faq-question {
    font-size: 14px;
    cursor: pointer;
    color: #333;
    margin-top:0;
    margin-bottom: 0;
    padding:7px 7px 7px 20px;
    border-bottom: 1px solid #ddd;
  	
    &:before {
      float:left;
      font-size: 12px;
      margin-top:1px;
      margin-left: -20px;
    }
  }
  .faq-answer {
    color:#555;
    padding:8px 0;
    line-height: 22px;
    text-align: justify;
  }
}

/* ---------------------------Partneri --------------------------------- */

.partners {
  padding:30px 0 30px 0;
  
  img {
    margin:0 10px 8px 0;
  }
  
  &.partners-slider{
    padding-bottom:20px;
    margin-bottom:10px;
    border-bottom:1px solid #ddd;
    
    img{
      margin-left:10px;
      float:left;
      
      @include phone{
      	height:30px;
      }
    }
  }
  
  &.partners-header{
    padding:22px 0 0 0;
    text-align:center;
    margin-bottom:-10px;
    
    img{
      margin:0 1% 14px 1%;
    }
    
    @include mobile-devices{
      
      img{
        max-height:36px;
        margin:0 1.5% 14px 1.5%;
      }
    }
  }
}

/* ---------------------------Ziadost progress ------------------------- */

.ziadost_postup {
  margin:0 -20px -20px -20px;
  
  strong { display:block; }
  
  .step_content {
    padding:15px 0 15px 65px;
    line-height: 20px;
    position: relative;
    
    span {
      font-size:24px;
      position:absolute;
      top:20px;
      left:25px;
      color:#E5EAEA;
    }
  }
  
  ol {
    list-style: none;
    margin:0;
    padding: 0;
    
    li {
      display:block;
      float:left;
      counter-increment: item;
      width: 33%;      
      
      .step_content:before {
        content: counter(item)'. krok';
        line-height:20px;
        font-size:14px;
        display: block;
        font-weight: bold; 
      }
      
      &:first-child {
        position:relative;
        
        .step_content {
          color: #fff;
          background: #000;
          padding-right: 0;
          margin-right:30px;
          
          span { color:#fff; }
        }  
      }
    }
    
    li:first-child:after {
      position:absolute;
      top:0;
      content:'';
      right:1px;
      border-top: 35px solid transparent;
      border-bottom: 35px solid transparent;
      border-left: 30px solid #000;
      -webkit-transform: rotate(0.01deg);
      -webkit-backface-visibility: hidden;
    }
  }
}
/* ---------------------------Ziadatelia-------------------------------- */

.ziadatelia {
  ul {
    padding:5px 0 0 0;
    list-style:none;
  
    li {
      padding:5px;
      background:#fff; 
      
      img {
        float:left;
        margin:2px 10px 0 0;
      }
      
      p {
        line-height:18px;
        padding-bottom:0;
        margin-bottom:0;
      }
      
      &:nth-child(2n+2) {
        background:#edefef;
      }
    }
  }
}
/* ---------------------------CTA box ---------------------------------- */

/* ---------------------------Horne menu ------------------------------- */

#main-nav {
  padding:0;
  
  ul {
    list-style:none;
    padding:0;
    margin:0;
    height:46px;
    position:relative;
  
    li {
      display:block;
      margin-right:6px;
      float:left;
      border-radius:4px;
      margin-bottom: 2px;
      
      a {
      	font-weight:bold;
        display:block;
        color:inherit;
        padding:8px 12px;
        border-radius:4px;
        transition:0.2s background;
        -webkit-transition:0.2s background;
        -moz-transition:0.2s background;  
        
        .btn {
          line-height:normal;
          font-size:14px;
        }
      }
      &:hover {
        text-decoration:none;
        
        .inner-menu {
          display:block;
        }
      }
    }
  }
  .inner-menu {
    display:none;
    position:absolute;
    z-index:50;
    left:0;
    top:42px;
    padding:15px;
    padding-bottom: 5px;
    width:100%;
    background: inherit;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;  
    transition:0.2s all;
    -webkit-transition:0.2s all;
    -moz-transition:0.2s all;
    
    h4 {
      display:block;
      margin-top:0;
      width:100%;
      color:inherit;
    }
    
    .inner-menu-subsection {
      float:left;
      width:30%;
      padding-left:1%;
      border-right:1px solid rgba(255,255,255,0.1);
      
      &:last-child { border:none; }
    }
    ul {
      height:auto;
      margin-bottom:15px;

      li {
        float:none;
        display:block;
        padding-right:0;
        line-height:30px;
        height:auto;
        margin-left:5px;

        &:before {
          font-family:FontAwesome;
          content: '\f111';
          font-size: 6px;
          float:left;
          margin-right:8px;
          color:#fff;
        }

        a {
          color:inherit;
          display:inline;
          background:none;
          padding:0;

          &:hover {
            background:none;
            border:none;
            text-decoration:underline;
          }
        }
      }
    }
  }
}

#main-nav > ul > li:not(.no-child):hover {
  border-bottom:8px solid transparent;
  border-radius:4px 4px 0 0;
}

/* ---------------------------Kroky ------------------------------------ */

/* ---------------------------Dolne menu ------------------------------- */

footer #menu-section {
  padding:25px 0;
}

.bottom-menu {
  .bottom-menu-block {
    display:inline-block;
    width:24%;
    /*margin-right:1%;*/
    vertical-align:top;
    margin-bottom:20px;
    
    &:nth-of-type(4n+4) {
      margin-right:0;
    }
    
    h4 {
      a {
        font-size:16px;
        margin-bottom:20px;
      }

      i {
        padding-right:10px;
      } 
      
    }

    ul {
      padding-left:0;
      list-style:none;

      li {
        line-height:26px;
        padding-left:7px;
      }
    }
    
    
      @include phone{
        margin-bottom:0;
      
      h4{
        position:relative;
        padding:10px 0;
        border-bottom:1px solid rgba(255,255,255,0.16);
        margin:0;
        
        &:after{
          float:right;
          font-family:FontAwesome;
          content:'\f107';
          margin-right:10px;
          color:#fff;
        }
        
        &:hover{
         	background:rgba(255,255,255,0.05); 
        }
        
        i{
          text-align:center;
          width:26px;
        }
      }
        
        ul{
          margin:10px 0;
          display:none;
        }
     }
  }
}

/* ---------------------------Hyperia info vo footeri ------------------------------- */

.hyperia-bottom-info{
	border-top: 1px solid rgba(255,255,255,0.16);
    padding-top: 25px;
  
  .col-box{
    padding:0 15px;
  }
	
  img.hyperia-bottom-logo{
    margin:10px 0 14px 0;
  }
  
  p{
    color:#6e9aaa;
    line-height:22px;
  }
  
  h4{
    font-size:16px;
    margin-bottom:12px;
    color:#fff;
  }
  
  @include phone{
    
    .col-box{
      margin-bottom:20px;
      padding:0;
    }
    
  }

}

/* ---------------------------3 boxes spolocnosti -------------------------------- */
.spolocnosti3-boxes {
  text-align:center;
  padding-top:15px; 

	.spolocnost-box {
    display:inline-block;
    border-right:1px solid #ddd;
    width:32%;
    padding:0 1%; 
    
    .img-container {
      padding-bottom:10px;
    }
    
    h3 {
      margin:10px 0 15px 0
    }
    
    &:last-child {
      border-right:none;
    }
  }
}

@media(max-width:479px){
  .spolocnosti3-boxes .spolocnost-box{
    display:block;
    width:auto;
    padding:0;
    border-right:none;
    border-bottom:1px solid #ddd;
    padding-bottom:15px;
    margin-bottom:15px;
  }
  
  .spolocnosti3-boxes .spolocnost-box:last-child{
    border:none;
    margin-bottom:0
  }
}

/* ---------------------------Akcia box -------------------------------- */

#action-section .row > *{
  transition: border 0.2s;
  -webkit-transition: border 0.2s;
  -moz-transition: border 0.2s;  
}

.akcia {
  position:relative;  
  overflow:hidden;
  margin:0 0px -20px -20px;
  
  &.bez-spoluprace .main-btn {
    display: none;
  }  
  
  .akcia-badge {
    position:absolute;
    display:block;
    color:#fff;
    font-weight:bold;
    padding:10px 30px;
    text-transform:uppercase;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    top:3px;
    left:-30px;
  }

  .akcia-content {
    /*float:left;
    width:50%*/
    .text {
      font-size: 14px;
      line-height: 22px;
      text-align: justify;
    }
  }   
  
  img {
    float:left;
    margin:0px 20px 0px 0px
  }
  
  a {
    .text {
      color:#333;
      font-size: 14px;
      line-height: 22px;
      text-align: justify;
    }
    
    &:hover {
      text-decoration: none;
    }
  }
  
  .btn {
    display:none;
    margin-bottom: 15px;
    /*  float:right;
    margin-top:30px;
    margin-right:15px; */
  }
}       

/* ---------------------------Akcia sidebar----------------------------- */

.akcia-sidebar img{
    max-width: 100%;
}


/* ---------------------------subcategory box----------------------------- */
.subcategory-box {
  margin: 0 -20px -20px -20px;
  padding: 20px;
  background-position:top right;
  background-repeat:no-repeat; 
  
  h3 {
    margin-top:0px;
    font-size:20px;
  }
 
 }

  .subcategories-poster {
    
    h3 { font-size:18px; }
    
    h2 { font-size:24px; margin:0 0 5px 0; }
    
    ul {
      padding-left: 30px;
      list-style: none;
      padding-bottom: 0px;
    
      li {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 5px;
      
        &:before {
          font-family: 'Glyphicons Halflings';
          padding-right: 5px;
          margin-left: -30px;
          content: '\e013';
        }
      }
    }
  }

@media(max-width:479px){
  .subcategory-box{
    background-position:210px 0;
  }
}

/* ---------------------------Navigacia -------------------------------- */

#breadcrumb-section .box {
  background: none !important;
  border:none !important;
  padding:0 !important;
  margin-top:0 !important;
  margin-bottom: 0 !important;
}

.breadcrumbs ul {
  padding:0;
  
  li {
    display:inline-block;
    margin-right:5px;
    font-size:12px; 
    
    &:after {
      content:'\f101';
      font-family:FontAwesome;
      padding-left:5px;
    }
    
    .current-page:after {
      content:'';
    }
  }
}
/* ---------------------------Klient box-------------------------------- */

.klient-wide {
  padding:0 20px; 
  
  h3 { text-transform: uppercase; }
  
  p {
    font-weight:300;
    font-size:20px;
    line-height:26px;
  }
  
  strong {
    display:block;
    color:#555;
    font-size:16px;
  }
}

.klient-classic {
  
  a.btn {
    float:right; 
    margin-top: 10px;
  }
  
  .klient-bio {
    float:left; 
    width:50%;

    .rating { padding:5px 0 0 0; }

    p {
      font-size:13px;
      line-height: 16px;
      color:#555;
      margin: 0;
      text-align: left;

      p strong.meno { display:block; }
    }
  }
}
#sidebar .klient-classic h3:before {
  display:none;
}

#sidebar .klient-bio {
  float:none;
  width:auto;
}

/* ---------------------------informacie vyhody na ziadosti------------------------------- */
.information-ul-sidebar ul li {
  font-size:16px;
  line-height:22px;
  margin-bottom:5px;
  padding-left:30px;
  
  &:before {
    font-family:FontAwesome;
    content:'\f00c';
    float:left;
    margin-left:-30px;
    width: 20px;
    text-align: center;
  }
  
  .rozsah:before {
    content:'\f0d6'
  }

  .splatnost:before {
    content:'\f133'
  }
}

/* ---------------------------FB like box------------------------------- */

.fb-like-box {
  margin:10px; 
}

.fb-like-box, .fb-like-box span, .fb-like-box span iframe{
    width:100% !important;
}

.fb-like-box-container {
  padding-top: 10px;
}

/* ---------------------------Tip -------------------------------------- */

div.tip {
  margin: 0 -20px -20px -20px; 
  
  h3 {
    color:#fff;
    padding:0 20px;
    height:70px;
    font-size:22px;
    line-height:70px;
    margin-bottom: 0;
    margin-top: 0;
    position:relative;
    float:left;
    background: #000;
    margin-right:30px;
    
    &:after {
      position: absolute;
      top:0;
      content:'';
      right: -15px;
      border-top:35px solid transparent;
      border-bottom:35px solid transparent;
      border-left:15px solid #000;
    }
  }
  
  p { padding: 13px 20px 0 0; }
}

/* ---------------------------Comparator - header----------------------- */
.comparator-poster {
  padding:160px 0 20px 0;
  min-height:0;
  
  h3 {
    color:#00374b;
    margin-top: 0;
  }
  
  .poster-content {
    width:auto;
    padding:15px;
    margin:0 20px 0px 20px;
    background:#fff;
    
    
  }
}

.input-container {
  position:relative;

  .currency {
    position:absolute;
    right:10px;
    top:10px;
    font-size:22px;
    font-weight: bold;
  }

  .form-control {
    /*height:42px;*/
    font-size:16px;
    font-weight:bold;
    border:1px solid #bcbcbc;
  }
}  

/* ---------------------------Comparator - filter----------------------- */

.comparator-item[class*="hidden"] {display: none;}

.filter {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  
  a {
    margin-bottom: 8px;
  	
    active {
      color:#00374b;
    }
    
    &.popular span {
      color:#e34748;
    }
    
    &.action {
      color:#fff;
      background: #ff9600;
      border-color:#ff9600;
    
    	span {
        color:#ffde00;
      }
    }
  }
  
  p.filter-label {
  display:inline-block
}
}

/* ---------------------------Comparator - obsah------------------------ */

.comparator-wrapper{
  position:relative;
  
  .loader{
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    background:rgba(255,255,255,0.7);
    text-align:center;
    display:none;
  
  	i{
      margin-top:80px;
      font-size:40px;
      color:#07B2EA
    }
  }
  
}

.comparator p {
  text-align: center;
}

.container.affix{
    z-index:5;
    position: fixed;
    left:0;
    right:0;
    top:0;
    background:#E5EAEA;
    padding-top: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -webkit-transform: translate(0);
  -webkit-transform: translateZ(0);
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;    
}

.layered-navigation {
  margin-bottom: 5px;
  
  .col-sm-2:first-child {
    
    	@include phone {
    		width:100% !important;
    		float:none;
      }
  
   }
}

.layer-label p {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold
}

.layer-content {
  text-align: center;

  p {
    font-size: 13px;
    margin-bottom: 0;
  }
  
  i {
    margin-right:2px;
    font-size: 18px;
  }
  
  @include phone{
    display:none;
  }
}

a.order-asc { margin-left: 5px; }

.comparator-item {
  
}
.comparator-tip .panel-more .col-sm-2:first-child:before, div[class*=" comparator-akcia"] .panel-more .col-sm-2:first-child:before {
  position: absolute;
  top:0px;
  left:-22px;   
  font-weight: bold;   
  font-size: 12px;
  line-height: 14px;
  padding:5px 25px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  z-index: 3;
}

.comparator-tip .panel-more .col-sm-2:first-child:before {
  content:'TIP' !important;
  color:#fff;
  background:#e34748 !important;
  left: -22px !important;
  top: 0px !important;
}

div[class*=" comparator-akcia"] .panel-more .col-sm-2:first-child:before {
  color:#fff;
  background:#FF9600;
  top:5px;
  left:-25px;
}

.comparator-akcia-sk .panel-more .col-sm-2:first-child:before {
  content:'Akcia';
}

.comparator-akcia-cz .panel-more .col-sm-2:first-child:before {
  content:'Akce';
}

.comparator-none .panel-more .col-sm-2:first-child:before {
  content:'' !important;
  background: none !important;
}

.comparator-item {
  transition:0.2s all;
  -webkit-transition:0.2s all;
  -moz-transition:0.2s all;
  /* overflow: hidden;
  position: relative*/
	
  .panel-more .col-sm-2:first-child {
    overflow:hidden;
  }
  
  
}

.comparator-item-inner {
  
  
  p {
    font-size:12px;
    padding-bottom: 0px;
    margin-bottom: 8px;
  	
    strong {
      display: block;
      font-size: 18px;
      
      &.uber {
        font-size: 20px;
      }
      
      @include phone{
        font-size:14px;
      }
    }
    .product-label {
      line-height: 18px;
    }
  }
  
  .popover-btn{
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 18px;
    color: #cdcdcd;
  }
}



.comparator-rating {
  margin-top: -10px;
  
  .glyphicon-star { color: orange; }
  
  .glyphicon-star-empty { color:grey; } 
}

.btn-item-inner {
  border-right: none;
  margin-bottom: 0;
  
  a.btn {
    display: block;
    padding:0;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
  	
    &:after {
      display:none;
    }
  }

  a.panel-more-link {
    font-size: 13px;
    margin-top:10px;
    display: block;
  	
    i {
      padding-left: 5px;
    }
  }
}

.comparator-img img {
  max-height: 24px;
  margin-bottom: 3px;
  max-width: 100%;
}

.panel-more {
  cursor:pointer;
}

.comparator-light .panel-more {
  cursor: default;
}

.comparator-heading {
  padding:10px 15px;
  background: #dedede;
  border-top:1px solid #ddd;
  
  h3 {
    margin:0;
    float:left;
  }
}

a.comparator-content-links {
  float:right;
  margin-left: 20px;
  font-size: 12px;
  color:#333;
}

a.close-content:hover {
  cursor:pointer;
}

.comparator-inner-body {
  background: #fff;
  
  .row * .box {
    margin:0 15px;
  }
  
  .box h4 {
    font-size: 14px;
    margin: 15px 0;
  }
  
  ul {
    padding-left: 0;
    padding-bottom: 5px;
    list-style: none;
    
    li {
      padding-bottom: 6px;
    
      &:before {
        font-family: FontAwesome;
        content:'\f105';
        float: left;
        margin-right: 10px;
        line-height: inherit;
        color:#4c8829;
        font-size: 13px;
      }
    }
  }
}

.comparator-body-footer {
  background: #f3f4f7;
  padding-top: 15px;
  padding-bottom: 5px;
}

p.klient-text {
  float:left;
  width:80%;
  font-size: 13px;
  line-height: 20px;
  color:#666;
  padding:10px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  box-shadow:0 0 5px rgba(0,0,0,0.2);
  
  &:after {
    content:'';
    position: absolute;
    right:-7px;
    top:20px;
    border-top:7px solid transparent;
    border-bottom:7px solid transparent;
    border-left:7px solid #fff;
    -webkit-filter: drop-shadow(.2em 0 .05em rgba(0,0,0,.1));
  }
}

.klient-name {
  float:right;
  width:17%;
  
  p {
    color:#333;
    line-height: 20px;
    padding-top:10px;
    margin-bottom: 5px;
  }
  
  .rating span { color:orange; }
}

.comparator-inner-body .repre {
  p {
    text-align: left;
    
    strong {
      float: right;
    }
  }
  
  i {
    font-size: 11px;
  }
}

.comparator-body-cta {
  padding-top: 14px;
  padding-bottom:8px;
  text-align: center
}

.comparator-inner-akcia {
  margin:15px 15px 0 15px;
  padding:15px;
  background:#FF9600;
  
  h3 {
    margin:0;
    color:#fff;
  }
}

.comparator-inner-body a:hover {
  text-decoration: none
}

.form-control {
  height:50px;
  font-size:16px;
  font-weight:bold;
  border:1px solid #bcbcbc;
}

.input-container {
  position:relative; 
  
  i {
    position:absolute;
    right:10px;
    top:14px;
    font-size:22px;
  }
}

.comparator .bez-spoluprace .main-btn, .bez-spoluprace .comparator-akcia-panel {
  display: none !important;
}

.bez-spoluprace .panel-more-link {
  margin-top: 35px !important;
}

/* --------------------------- na stranke pracujeme------------------------ */
.pracujeme {
  text-align:center;
  padding:10px;
  
  h1 {
    font-size:34px;
  }
  
  p.subtitle {
    font-size:20px;
    text-align:center;
    font-family:'Open Sans', sans-serif;
  }
  
  img {
    display:block;
    margin:20px auto 0 auto;
  }
}
/* ---------------------------Sidebar menu ----------------------------- */

.sidebar-menu .list-group-menu {
  margin:-15px -20px -20px -20px;
  border-top:1px solid #ddd;
}

.list-group-menu .list-group-item {
  background-color:#fafafa;
  border:none;
  margin-bottom:0;
  border-bottom:1px solid #ddd;
}

.sidebar-menu .list-group-item:before {
  font-family: FontAwesome;
  content: '\f101';
  padding-right: 7px;  
}
/*
.sidebar-menu .list-group-item-btn {
	color:#fff;
	font-weight:bold;
	background:#4fa812;
	border: 1px solid #2c6d07;
}

.sidebar-menu .list-group-item-btn:hover {
	color:#fff;
	background: #3D9101;
}

.sidebar-menu ul {
	padding:0;
	margin: -10px 0 0 0;
	list-style: none;
}

.sidebar-menu ul li a {
  display:block;
	padding:7px;
	border-bottom: 1px solid #ddd;
}

.sidebar-menu ul li a:hover {
	background: #fff;
	text-decoration: none;
}

.sidebar-menu ul li a:before {
	font-family: FontAwesome;
	content: '\f101';
	padding-right: 5px;
}

.sidebar-menu ul li a.sidebar-menu-btn {
	font-weight: bold;
	color:#3c763d 
}*/

/* ---------------------------Submenu ---------------------------------- */

.sub-menu {
  
  height: 50px;
  
  ul {
    padding-left: 0px;
    
    li {
      display: inline;
      padding: 0;
      background: 0 0;
    
      a {
        display: block;
        float: left;
        width: 16.66667%;
        height: 50px;
        padding: 0;
        border: 1px solid #ddd;
        color: #000;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
    	}
    }
  }
}

/* ---------------------------Rss box ---------------------------------- */

.rssbox {
  padding:15px 0;
  
  h3 {
    font-size:16px;
    a { color:#333; }
  }
    
}

.rss-img-container {
  float:left;
  margin:0 12px 10px 0
}

.rss-item {
  border-bottom:1px solid #ddd;
}

/* ---------------------------Slovnik ---------------------------------- */

.slovnik {
  padding-top: 20px;
}

.slovnik-aktual {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  min-height: 120px;
}

h2.slovnik-pismeno {
  font-size: 120px;
  line-height: 90px;
  float:left;
  margin:0;
  width:120px;
  text-align: center;
  text-transform: uppercase;
}

.slovnik-aktual .slovnik-list {
  margin-left: 140px;
  min-height: 90px;
}

.slovnik-list ul.list-default {
  padding-bottom: 10px;
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-gap: 20px;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;  
}

.slovnik .btn-group-justified {
  border-collapse: collapse
}

.slovnik .btn-group-justified .btn {
  text-transform: uppercase
}

/* ---------------------------Oddelovac ---------------------------------- */

.separator {
  border-top: 1px solid #ddd;
  margin-top:40px;
  
}

.separator > i {
  top: -30px;
  left: 50%;
  margin-left: -30px;
  color: #91C100;
  font-size: 20px;
  padding: 20px;
  background: #fff;
}

/* ---------------------------Car example ------------------------------ */

.car-example-content table {
  overflow: hidden;
}
main .car-example-content ul {
    padding-bottom: 0px;
}
main .car-example-content .car-description-box, 
.car-description-box p {
  text-align: center;
}
main .car-example-content .carousel-inner {
}
main .car-example-content .carousel-control {
	bottom: 80%;
  width: 5%;
}
main .car-example-content .carousel-control.left,
main .car-example-content .carousel-control.right {
    background: transparent;
}

/* ---------------------------Posledny ziadatel ------------------------------ */

.geo-location {
  padding-top:12px;
  border-top:1px solid #ddd;
  
  a.btn {
    float:right;
    margin-top:15px
  }
}

.geo-content {
  float:left;
  width:51%;
  
  p {
    text-align: left;
    margin-bottom:0;
  }
  
  h4 {
    font-size:16px;
    margin-top:0;
    padding-top:5px;
    margin-bottom:2px;
  }
}

/* ---------------------------Priklady ------------------------------ */

.priklady {
  .item-box {
    border: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    
    .btn {
      right: 30px;
      position: absolute;
    }
  }
  
  h3 {
    font-size: 24px;
    padding-bottom: 10px;
  }
}
.priklady-sidebar {
  .item-box {
    margin-bottom:0px;
    padding:8px 5px;
    transition:0.2s all;
    -webkit-transition:0.2s all;
    -moz-transition:0.2s all;
    
    &:nth-of-type(2n+1) {
      background:#e5eaea;
    }
    
    h4 {
      font-size:14px;
      color:#333;
    }
  }
  
  .geo-content {
    width:75%;
  }
  
  &.posledne-zadosti {
    margin-bottom: 20px;
    
    .item-box {
      &:nth-of-type(2n+1) {
        background:none;
      }
      
      &:nth-of-type(2n+2) {
        background:#e5eaea;
      }
      
      &:last-child {
        margin-bottom:0;
        border-bottom:none;
      }
      
      p {
        color:#333;
        margin-bottom:0;
      }
      
      &:hover {
        background:#fff;
      }
      
      .arrow-btn {
        color:#eda238;
        font-size:32px;
        background:none;
        padding:0px;
        line-height:1.1em;
      }
    }
  }
}

.posledne-zadosti.priklady-sidebar .item-box p {
  line-height:20px;
	
  strong.poziadal {
    font-size:16px;
  }
}
/* --------------------------Social buttons----------------------------- */

.social-btns {
  float: right;
}

.share-icons {
  padding-top: 20px;
	
  a {
    display: inline-block;
    widtH: 36px;
    border-radius: 3px;
    margin-right: 3px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
  }
}
.facebook-icon {
  background: #4D6ABB;
}

.g-icon {
  background: #D63F29;
}

.twitter-icon {
  background: #2B89D3;
}

/* ---------------------------Information bar--------------------------- */

.box [class*="col"]:last-child .comparator-item-inner {
  	border-right:none;
	}

.information-bar {
  margin: 0px -20px -20px -20px;
  background:#FAFAFA;
  border-top:1px solid #ddd;
  
  
  
  .comparator-item-inner {
    p {
      text-align: center;
      
      strong {
        font-size:20px;
      }
    }
 
  }
  
  .rating {
    font-size: 24px;
    line-height:24px;
  }  
}

/* ---------------------------Spolocnostni rozcestnik--------------------------- */

.company-crossing {
  margin-top: 20px;
  
  .tab-content {
    .col-sm-4 {
      float: none;
      display: inline-table;
      width: 32%;
      padding-top: 20px;
      
      @media (max-width:767px)
        {
          width: 49%;
        }
      
      p {
    		padding: 5px 15px 0 0px;
  		}
    }
    .tab-pane {
    	padding: 20px 20px 0 20px;
  	}
  }
}

/*-------------------------------------------------------Media cast-------------------------------------------------------------------*/

@media (min-width:1200px) {
  	
  .poster-content {
    padding: 25px;
    width:35%;
  }
}

@media (min-width: 992px) {
  .poster-content {
    padding-left: 30px;
  }
    
  .akcia-content {
    float:left;
    width:50%
  }          

	.akcia .btn {
    display:inline-block;
    float:right;
    margin-top:24px;
    margin-right:15px; 
  }
  
  /* comparator */
    
  .btn-item-inner a.btn {
    font-size: 14px;
    width: 140px;
  }

  .btn-item-inner a.btn:after {
    display:inline-block;
  }
    
  .layer-content p {
    display: inline-block;
  }    /* /comparator */
}

@media (max-width:767px) {
  header a.logo img {
    width:230px;
  }
  
  p.table-info {
    margin-top:10px;
  }
  
  .table-responsive {
    border:none; 
  }
   
  .top-telefon {
    font-size:20px;
	}
    
  #menu-section {
    padding: 0;
  }
   
  nav#main-nav {
    padding:8px 10px 0 10px;
  }
   
  #main-nav {
    ul {
      li {
        padding-right:3px;
      
        a {
          font-size:12px; 
          padding:8px 10px;
        
          &.btn {
            display:none;
          }
        }
      }
    }
  }
  .main-poster .poster-content {
    margin:20px;
  }
   
  .main-poster a.btn {
    display:block;
    padding:0;
  }
   
  .poster-content {
    width:60%;
    max-width:300px;
    padding:20px;
  }
   
  .main-poster {
    background-position:70% center;
  }
  
  .comparator-poster .poster-content {
    width:auto;
    max-width: 100%;
  } 
    
  .sub-cat {
    margin:25px 0;
    border:none;
  }
   
  .content > .row {
    margin-right:-15px;
  }
   
  .row {
    margin-left:0px;
    margin-right:0px;
  }

	.ziadost_postup {
    ol {
      li {
        font-size: 12px;
        line-height: 18px;
      }
    }
    
    .step_content {
    	padding-left: 12%;
    
      span {
        display: none;
      }
    }
  }
  .sidebar > .row {
    margin-left:-15px;
  }
   
  footer .container {
  }
   
  #footer ul {
    margin-bottom:25px;
  }
  
  .bottom-menu {
    .bottom-menu-block {
      display:block;
      margin-right:0;
      width:100%;
    }
  }
  /* comparator */
  .comparator-item-inner {
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
    
  .btn-item-inner a.btn { font-size: 15px; }
  .btn-item-inner a.btn:after { display:inline-block; }
  
  .btn-item-inner a.panel-more-link {
    margin-bottom: 5px;
  }
  
  .comparator-body-cta a.btn { margin-bottom: 10px; }
  
  .comp-form .btn {
    display: block;
    padding: 0;
    width: 100%;
    font-size: 14px;
  }
  
  .form-control { font-size: 13px; }
  
  .input-container i { display: none; }
  
  /* /comparator */  
}

@media (max-width:479px) {
  .top-telefon {
    display:none;
  }
  
  .inner-menu .inner-menu-subsection {
    width:100% !important;
  }
  
  #main-nav {
    ul {
      height:auto;
    
      li {
        float:none;
        padding-right:0;
        margin-right:0;
        padding-bottom:0;
        height:auto;
        position:relative;
      
        &:hover {
          border-bottom:none !important;
          border-radius:4px;
        }
   
        &.home a {
          margin-bottom:0;
        
          &:after {
            content:' Domov';
            font-size:12px;
          }
        }
      }
    }
  }
   
  .inner-menu {
    position:relative;
    top:auto;
  }
   
  .main-poster {
    background-position:top center;
    background-size:auto 180px; 
    padding:170px 0 0 0;
    
    .poster-content {
      margin:0 auto;
    }
  }
   
  .boxed-col {
    margin:0px 10px 15px 10px;
  }
  
  .poster-content {
    margin:0 auto;
    float:none;
    width:auto;
    padding:20px;
    max-width:100%;
  }
   
  .ziadost_postup {
    ol {
      li {
        float:None;
        width:100% !important;
        
        &:first-child .step_content {
          margin-right: 0;
          border-radius:3px;
        }
      }
    }
    
    .step_content {
      padding: 10px 10px 10px 50px;
      line-height: 16px;
      
      &:before {
        display: inline;
  		}
      
      span {
        display: block;
        top:10px;
        font-size: 20px;
        left:15px;
      }
    }
  }
  
  /* comparator */
  
  .comparator-poster {
    .poster-content {
      margin:0;
    
      .col-xs-6 {
        width:100%;
        float:none;
      
        .btn {
          margin-top:10px;
        }
      }
    }
  }
  .comparator-heading h3 {
    float:none;
    margin-bottom: 10px;
  }
    
  p.klient-text, .klient-name {
    float:none;
    width:auto;
  }
    
  p.klient-text:after { display:none; }
  
  .comp-form .col-xs-4 {
    float:none;
    width:100%;
    padding-right: 0;
    margin-bottom: 10px;
  }
    
  .comp-form .padded { padding-right: 0 }
  .form-control { font-size: 16px; }
  .input-container i { display: block; }
  
    
   /* /comparator */
  
  .klient-classic .klient-bio {
    width:100%;
    float:none;
  }
}