html,
body {
    height: 100%;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

@media (min-width: 768px) {
    .wrap {
        /*padding-left: 225px;*/
    }
}

.var-value {
    margin-bottom: 20px;
}

.form-control.var-identifier {
    width: 50%;
}

.label-var {
    text-align: right;
}

.btn-remove-var {
    position: absolute;
    left: 95%;
    top: 10px;
    z-index: 999;
}

ul {
    list-style-type: none;
}

.snippet-vars {
    list-style: none;
}

.snippet-codes, .snippet-vars, .snippet-var-default-values {
    padding-left: 0;
}

.btn-remove-snippet-code, .btn-remove-snippet-var, .btn-remove-snippet-default-value, .btn-add-snippet-default-value {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1;
}

.btn-remove-snippet-default-value, .btn-add-snippet-default-value {
    top: 6px;
}

.btn-remove-snippet-default-value {
    right: 43px;
}

.btn-add-snippet-code {
    position: absolute;
    right: 45px;
    top: 10px;
}

.snippetcode-name {
    width:400px;
}

.snippet-code, .snippet-var {
    position: relative;
}

.dictionary-translation-control {
    margin-top: -10px;
    height: 32px;
}

.dictionary-form .form-group {
    margin-bottom: 5px;
}

.dictionary-form .input-group {
    width: 100%;
}

.dictionary-form .input-group-addon {
    width: 200px;
    background-color: rgba(223, 255, 153, 0.2);
    border-radius: 5px;
}

.dictionary-form h3 {
    margin-top: 15px !important;
}

.dictionary-form .form-group.translation .btn {
    margin-top: 10px;
    margin-bottom: 5px;
}

.navbar-fixed-bottom {
    left: 225px;
    border-top: 1px solid #ccc;
    background: #fff;
    padding-top: 15px;
}

.panel-body .row {
    margin-bottom: 5px;
}

#breadcrumbs {
    margin-left: 50px;
}

#breadcrumbs li.active {
    padding: 15px 15px;
}

#portal-nav {
    margin-left: 8px;
    font-size: 14px;
}

#portal-nav > li > a:before {
    font-family: FontAwesome;
    content: '\f015';
    margin-right: 10px;
}

#login-box li {
    padding: 8px 8px;
}

.multimedia-files-update .select-subcategory {
    min-width: 220px;
    padding-left: 10px;
}

.column-without-padding {
    padding: 0;
}
