html,
body {
    height: 100%;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

@media (min-width: 768px) {
    .wrap {
        /*padding-left: 225px;*/
    }
}

.var-value {
    margin-bottom: 20px;
}

.form-control.var-identifier {
    width: 50%;
}

.label-var {
    text-align: right;
}

.btn-remove-var {
    position: absolute;
    left: 95%;
    top: 10px;
    z-index: 999;
}

ul {
    list-style-type: none;
}

.snippet-vars {
    list-style: none;
}

.snippet-codes, .snippet-vars, .snippet-var-default-values {
    padding-left: 0;
}

.btn-remove-snippet-default-value, .btn-add-snippet-default-value {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1;
}

.btn-remove-snippet-default-value, .btn-add-snippet-default-value {
    top: 6px;
}

.btn-remove-snippet-default-value {
    right: 43px;
}

.snippetcode-name {
    width: 400px;
}

.snippet-code, .snippet-var {
    position: relative;
}

.dictionary-translation-control {
    margin-top: -10px;
    height: 32px;
}

.dictionary-form .form-group {
    margin-bottom: 5px;
}

.dictionary-form .input-group {
    width: 100%;
}

.dictionary-form .input-group-addon {
    width: 200px;
    background-color: rgba(223, 255, 153, 0.2);
    border-radius: 5px;
}

.dictionary-form h3 {
    margin-top: 15px !important;
}

.dictionary-form .form-group.translation .btn {
    margin-top: 10px;
    margin-bottom: 5px;
}

.navbar-fixed-bottom {
    left: 165px;
    border-top: 1px solid #ccc;
    background: #fff;
    padding-top: 5px;
}

.navbar-fixed-bottom .form-group {
    margin-bottom: 5px;
}

.panel-body .row {
    margin-bottom: 5px;
}

#breadcrumbs {
    /*margin-left: 50px;*/
}

#breadcrumbs li.active {
    padding: 15px 15px;
}

#portal-nav {
    margin-left: 8px;
    font-size: 14px;
}

#portal-nav > li > a:before {
    font-family: FontAwesome;
    content: '\f015';
    margin-right: 10px;
}

#login-box li {
    padding: 8px 8px;
}

.multimedia-files-update .select-subcategory {
    min-width: 220px;
    padding-left: 10px;
}

.multimedia-category .multimedia-item img {
    cursor: pointer;
}

.column-without-padding {
    padding: 0;
}

.global-search {
    display: inline-block;
    min-width: 500px;
    position: relative;
}

.global-search input {
    margin-top: 8px;
    z-index: 2;
    position: relative;
}

.global-search .data {
    display: none;
    position: absolute;
    left: 0;
    margin-top: -1px;
    padding: 5px 0;
    background-color: white;
    width: 100%;
    border: 1px solid #C9C9C9;
    border-top: none;
    z-index: 1;
    margin-bottom: 0;
}

.global-search ul.data {

}

.global-search .data li {
    list-style-type: none;
    border-bottom: 1px solid #fff
}

.global-search .data li a {
    display: block;
    outline: none;
    padding: 3px 5px;
    color: black;
}

.global-search .data li.active a {
    text-decoration: underline;
}

.global-search .data li a:hover {
    background-color: rgba(27, 206, 176, 0.31);
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.multimedia-index .table > tbody > tr > td {
    vertical-align: middle;
}

.multimedia-index .table > tbody > tr > td:last-of-type {
    text-align: center;
}

.multimedia-index .thumbnail {
    max-width: 100px;
    margin: 0;
}

.CodeMirror {
    height: initial !important;
}

#radioBtn .notActive {
    color: #3276b1;
    background-color: #fff;
}

.panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel-heading h3, .panel-heading input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75% !important;
    padding-top: 8px;
}

.fixed-panel {
    max-height: 600px;
    overflow-y: scroll;
}

.global-search .suggest-snippet {
    background-color: #ffffec;
}

.global-search .suggest-product {
    background-color: #dce8ed;
}

.global-search .suggest-snippet-code {
    background-color: #fadedd;
}

.global-search .suggest-page {
    background-color: #d1ffcd;
}

.search-multimedia {
    width: 400px !important;
}
.btn-alternative-usage {
    margin-right: 5px;
}

#alternativeUsedIn ul {
    margin: 0;
    padding-left: 10px;

    list-style-type: square;
}

.snippet-dropdown + .select2 {
    min-width: 400px;
}

.syntax-highlight-line {
    color: #000000;
    font-size: 13px;
    float: left;
    padding-right: 5px;
}

.syntax-highlight-code {
    padding-left: 5px;
    display: inline-block
}

.syntax-highlight-code.highlight {
    border: 1px red solid
}

.modal-dialog {
    margin-top: 63px;
}

div#ui-datepicker-div.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    z-index: 100 !important;
}

span.row-drag-by, span.section-drag-by {
    cursor: move;
}
