.sections {
    padding-left: 0px;
}

.section-rows {
    padding-left: 0px;
}

.column {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}

.section-rows > li {
    min-height: 10px;
    margin-top: 5px;
}

.add-row-btn, .btn-remove-section {
    border-radius: 3px !important;
}

.section-buttons {
    position: absolute;
    top: 10px;
    right: 25px;
}

.dropdown-blocks {
    display: inline-block;
}

.inline-button {
    display: inline-block;
}

.section {
    position: relative;
}
